.padding-top {
  padding-top: 112px;
}

#home-page .landing:after,
#common-page .landing:after {
  position: absolute;
  inset: 0;
  content: "";
  -webkit-background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9));
  -moz-background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9));
  -ms-background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9));
  -o-background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9));
}

/* =================================
	Home Page
================================= */
#home-page .landing {
  position: relative;
}
#home-page .landing .col {
  padding: 320px 0 200px 0;
  position: relative;
  z-index: 3;
}
#home-page .landing .col .txt {
  max-width: 680px;
}
#home-page .landing .col .txt .title {
  font-size: 60px;
}
#home-page .landing .col .txt .subtitle {
  font-size: 22px;
  margin: 24px 0 32px 0;
}
#home-page .info {
  background-color: #1f4075;
  padding: 80px 0;
}
#home-page .info .all {
  max-width: 860px;
}
#home-page .info .all .one svg {
  height: 60px;
  margin-bottom: 20px;
}
#home-page .info .all .one svg path {
  fill: #3966ac;
}
#home-page .trust {
  padding: 60px 0;
}
#home-page .trust .right {
  gap: 48px;
}
#home-page .trust .right img {
  height: 40px;
  width: auto;
  display: block;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 0.6;
}
#home-page .help {
  padding: 120px 0;
  background-color: #f8f8f8;
}
#home-page .help .top {
  margin-bottom: 80px;
}
#home-page .help .top .right {
  gap: 16px;
}
#home-page .help .all {
  gap: 80px;
}
#home-page .help .all .one .img {
  height: 258px;
  margin: 0 auto;
}
#home-page .help .all .one .img img {
  display: none;
}
#home-page .help .all .one .title {
  margin: 20px 0 12px 0;
}
#home-page .help .all .one .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-page .faqs {
  padding: 120px 0;
  background-color: #eaf3ff;
}
#home-page .faqs .top {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 80px;
}
#home-page .faqs .row {
  gap: 80px;
}
#home-page .grow {
  padding: 120px 0;
}
#home-page .grow .left .btn {
  margin-top: 32px;
}
#home-page .grow .right {
  padding-left: 40px;
}
#home-page .grow .all .one {
  gap: 24px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: solid 1px #eaf3ff;
}
#home-page .grow .all .one:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#home-page .grow .all .one .icon {
  height: 68px;
  width: 68px;
}
#home-page .grow .all .one .icon svg {
  height: 24px;
  width: auto;
  display: block;
}
#home-page .grow .all .one .icon svg path {
  fill: #2f80ed;
}
#home-page .how-it-works {
  background-color: #f8f8f8;
  padding: 120px 0;
}
#home-page .how-it-works .top {
  text-align: center;
  margin-bottom: 80px;
}
#home-page .how-it-works .all {
  gap: 80px;
}
#home-page .how-it-works .all .one img {
  height: 168px;
}
#home-page .how-it-works .all .one .desc {
  text-align: center;
}
#home-page .how-it-works .all .one .title {
  margin: 32px 0 12px 0;
}
#home-page .how-it-works .all .one .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-page .testimonials {
  padding: 120px 0;
}
#home-page .testimonials .left .btn {
  margin-top: 32px;
}
#home-page .testimonials .right {
  padding-left: 80px;
}
#home-page .testimonials .right .reviews .one {
  background-color: #fdfdfd;
  border: solid 1px #eaf3ff;
  padding: 32px;
  border-radius: 8px;
}
#home-page .testimonials .right .reviews .one .quote {
  margin: 12px 0 24px 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-page .testimonials .right .reviews .one .i {
  height: 40px;
  width: 40px;
}
#home-page .testimonials .right .reviews .one .i svg {
  height: 16px;
}
#home-page .testimonials .right .reviews .one .i svg path {
  fill: #2f80ed;
}
#home-page .testimonials .right .reviews .one ._t {
  font-size: 12px;
  color: #8f8f8f;
}
#home-page .cta {
  padding: 120px 0 148px 0;
}
#home-page .cta .row {
  gap: 120px;
}
#home-page .cta .row .title {
  font-size: 48px;
}

.faq .faq-one {
  border: solid 1px #eaf3ff;
  background-color: #fff;
  padding: 0 0 8px 0;
  border-radius: 6px;
  margin-bottom: 8px;
}
.faq .faq-one:last-child {
  margin-bottom: 0;
}
.faq .faq-one .question {
  padding: 20px 20px 12px 16px;
  cursor: pointer;
}
.faq .faq-one .question .i {
  border-radius: 100%;
  background-color: #eaf3ff;
}
.faq .faq-one .question .i:before, .faq .faq-one .question .i:after {
  position: absolute;
  content: "";
  top: 20px;
}
.faq .faq-one .question .i:before {
  height: 2px;
  width: 14px;
  top: 14px;
  left: 7px;
  background-color: #2f80ed;
}
.faq .faq-one .question .i:after {
  height: 14px;
  width: 2px;
  top: 8px;
  left: 13px;
  background-color: #2f80ed;
}
.faq .faq-one .question.open {
  color: #2f80ed;
}
.faq .faq-one .question.open .i {
  background-color: #2f80ed;
}
.faq .faq-one .question.open .i:before {
  background-color: white;
}
.faq .faq-one .question.open .i:after {
  background-color: transparent;
}
.faq .faq-one .answer {
  display: none;
  padding: 0px 20px 24px 20px;
}
.faq .faq-one .answer p {
  font-size: 16px;
  color: #404041;
}

/* =================================
	Services Page
================================= */
#services-page .all-services {
  padding: 120px 0;
  background-color: #fafafa;
}
#services-page .all-services .row {
  gap: 80px;
}
#services-page .all-services .row .left {
  width: 360px;
}
#services-page .all-services .all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 32px;
  grid-column-gap: 32px;
}
#services-page .all-services .all .single {
  border: solid 1px #eaf3ff;
  padding: 32px;
  border-radius: 8px;
  background-color: white;
}
#services-page .all-services .all .single img {
  height: 40px;
  width: auto;
  display: block;
}
#services-page .all-services .all .single .title {
  margin: 16px 0 12px 0;
}
#services-page .all-services .all .single .description {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

/* =================================
	Services Single Page
================================= */
#services-single-page .content {
  padding: 80px 0;
}
#services-single-page .content .row {
  flex-direction: row-reverse;
}
#services-single-page .content .left {
  flex: 1;
  padding-right: 80px;
}
#services-single-page .content .left .main-title {
  border-left: solid 6px #2f80ed;
  padding-left: 16px;
}
#services-single-page .content .left hr.sep {
  background-color: #eaf3ff;
  margin: 32px 0;
}
#services-single-page .content .left .text-editor-content h1,
#services-single-page .content .left .text-editor-content h2,
#services-single-page .content .left .text-editor-content h3,
#services-single-page .content .left .text-editor-content h4,
#services-single-page .content .left .text-editor-content h5,
#services-single-page .content .left .text-editor-content h6 {
  font-family: "Bold";
  color: #1a1a1a;
  line-height: 1.2;
  margin-bottom: 12px;
}
#services-single-page .content .right {
  width: 120px;
}
#services-single-page .content .right .main-image {
  border: solid 1px #eaf3ff;
  padding: 32px;
  border-radius: 8px;
  background-color: #f0f0f0;
}
#services-single-page .content .right .main-image img {
  width: 100%;
  height: auto;
  display: block;
}
#services-single-page .content .other-services {
  margin-top: 32px;
}
#services-single-page .content .other-services .one {
  border-bottom: solid 1px #eaf3ff;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
#services-single-page .content .other-services .one:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
#services-single-page .content .other-services .one ._row {
  gap: 32px;
}
#services-single-page .content .other-services .one ._row ._i {
  width: 120px;
  height: 120px;
  background-color: #f0f0f0;
  padding: 32px;
  border-radius: 6px;
}
#services-single-page .content .other-services .one ._row ._i img {
  width: 100%;
  height: auto;
  display: block;
}
#services-single-page .content .other-services .one ._row ._d {
  flex: 1;
}
#services-single-page .content .other-services .one ._row ._d ._title {
  border-left: solid 4px #2f80ed;
  padding-left: 8px;
}
#services-single-page .content .other-services .one ._row ._d ._description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  margin-bottom: 16px;
}

/* =================================
	Text Editor Content
================================= */
.text-editor-content hr {
  outline: none;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1px;
  background-color: var(--services-faded-color);
}
.text-editor-content h1,
.text-editor-content h2,
.text-editor-content h3,
.text-editor-content h4,
.text-editor-content h5,
.text-editor-content h6,
.text-editor-content p {
  margin-bottom: 20px;
}
.text-editor-content p code {
  font-size: 0.875em;
  background-color: var(--code-text-background);
  padding: 0.15rem 0.3rem;
  border-radius: 4px;
}
.text-editor-content p strong {
  font-family: "Medium";
}
.text-editor-content p:empty {
  height: 20px;
}
.text-editor-content a {
  color: #2f80ed;
  border-bottom: dashed 1px var(--color-text-primary);
}
.text-editor-content a:hover {
  text-decoration: underline;
}
.text-editor-content ul,
.text-editor-content ol {
  margin: 20px 0;
}
.text-editor-content ul li,
.text-editor-content ol li {
  margin: 8px 0;
  padding-left: 16px;
  position: relative;
  font-family: "Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
}
.text-editor-content ul li:after,
.text-editor-content ol li:after {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  background-color: #707070;
  border-radius: 100%;
  top: 8px;
  left: 0;
}
.text-editor-content ul li code,
.text-editor-content ol li code {
  font-size: 0.875em;
  background-color: var(--code-text-background);
  padding: 0.15rem 0.3rem;
  border-radius: 4px;
}
.text-editor-content table {
  width: 100%;
  border-collapse: collapse;
}
.text-editor-content table thead {
  border-bottom: solid 2px var(--services-faded-color);
}
.text-editor-content table thead th {
  padding: 0.875rem 0;
  text-align: left;
}
.text-editor-content table tr {
  border-bottom: solid 1px var(--services-faded-color);
}
.text-editor-content table tr td {
  padding: 0.875rem 0;
}
.text-editor-content table tr td code {
  background-color: var(--code-text-background);
  padding: 0.15rem 0.3rem;
  border-radius: 4px;
}
.text-editor-content table tr td a {
  border-bottom: none;
}
.text-editor-content table tr:last-child {
  border-bottom: none;
}
.text-editor-content img {
  width: 100%;
  height: auto;
  display: block;
  margin: 40px 0;
}
.text-editor-content h1,
.text-editor-content h2,
.text-editor-content h3,
.text-editor-content h4,
.text-editor-content h5,
.text-editor-content h6,
.text-editor-content p {
  color: #1a1a1a;
}
.text-editor-content h1,
.text-editor-content h2,
.text-editor-content h3,
.text-editor-content h4 {
  font-family: "Bold";
}

/* =================================
	Results Page
================================= */
#results-page .results {
  padding: 120px 0;
}
#results-page .results .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 60px;
  grid-column-gap: 60px;
}
#results-page .results .all .single {
  border-radius: 8px;
  overflow: hidden;
}
#results-page .results .all .single a {
  display: block;
}
#results-page .results .all .single .row {
  gap: 80px;
}
#results-page .results .all .single .img {
  height: 300px;
}
#results-page .results .all .single .img img {
  width: 100%;
  height: auto;
  display: none;
}
#results-page .results .all .single .desc {
  background-color: #f8f8f8;
  padding: 16px 20px 16px 20px;
}
#results-page .results .all .single .desc .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results-page .results .all .single:hover .desc {
  background-color: #eaf3ff;
}

/* =================================
	Results Single Page
================================= */
#results-single-page .content {
  padding: 80px 0;
}
#results-single-page .content .row {
  flex-direction: row-reverse;
}
#results-single-page .content .left {
  flex: 1;
  padding-right: 80px;
}
#results-single-page .content .left hr.line {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 24px 0;
  background-color: #2f80ed;
}
#results-single-page .content .left hr.sep {
  background-color: #eaf3ff;
  margin: 32px 0;
}
#results-single-page .content .right {
  width: 420px;
}
#results-single-page .content .right .main-image {
  border-radius: 6px;
}
#results-single-page .content .other-results {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
#results-single-page .content .other-results .one {
  border-radius: 8px;
  overflow: hidden;
}
#results-single-page .content .other-results .one .img {
  height: 248px;
}
#results-single-page .content .other-results .one .img img {
  width: 100%;
  height: auto;
  display: none;
}
#results-single-page .content .other-results .one .desc {
  background-color: #f8f8f8;
  padding: 16px;
}
#results-single-page .content .other-results .one .desc .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results-single-page .content .other-results .one:hover .desc {
  background-color: #eaf3ff;
}

/* =================================
	Contact Page
================================= */
#contact-page {
  padding: 80px 0;
}
#contact-page hr {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 16px 0;
}
#contact-page .row .left input,
#contact-page .row .left textarea {
  width: 100%;
  margin-bottom: 6px;
}
#contact-page .row .right {
  padding-left: 120px;
}
#contact-page .row .right ul.info li {
  gap: 12px;
  border-bottom: solid 1px #eaf3ff;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
#contact-page .row .right ul.info li svg {
  height: 20px;
  width: auto;
  display: block;
}
#contact-page .row .right ul.info li svg path {
  fill: #2f80ed;
}
#contact-page .row .right ul.info li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#contact-page .row .right iframe {
  height: 268px;
}

/* =================================
	Common Page
================================= */
#common-page .landing {
  padding: 232px 0 120px 0;
  position: relative;
}
#common-page .landing .txt {
  position: relative;
  z-index: 2;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}
#common-page .landing .txt hr {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 16px auto;
}

#common-content .inner {
  padding: 80px 0;
}
#common-content a {
  color: #2f80ed;
}
#common-content a:hover {
  text-decoration: underline;
}

/* =================================
	Page Not Found
================================= */
#not-found .not-found {
  background-color: #f8f8f8;
  padding: 320px 0;
}
#not-found .not-found .txt {
  max-width: 560px;
}/*# sourceMappingURL=pages.css.map */