@import "./v";

/* =================================
	Home Page
================================= */

#home-page {
	.hero {
		.col {
			height: 840px;
			padding-top: 40px;
		}
		.title {
			font-size: 60px;
		}
		.subtitle {
			font-size: 22px;
			margin: 24px 0 32px 0;
		}
		.right {
			padding-left: 60px;
			svg.enclose {
				path {
					fill: $fadedBackgroundColor;
				}
			}
			video {
				height: 100%;
				width: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center center;
				object-position: center center;
				vertical-align: middle;
			}
			.play {
				height: 80px;
				width: 80px;
				z-index: 5;
				top: 50%;
				left: 50%;
				border: dashed 2px white;
				margin-top: -40px;
				margin-left: -40px;
			}
		}
	}
	.trust {
		padding: 60px 0;
		.right {
			gap: 48px;
			img {
				height: 40px;
				width: auto;
				display: block;
				@include opacity(0.6, 60);
			}
		}
	}
	.help {
		padding: 120px 0;
		background-color: #f8f8f8;
		.top {
			margin-bottom: 80px;
			.right {
				gap: 16px;
			}
		}
		.all {
			gap: 80px;
			.one {
				.img {
					max-width: 340px;
					margin: 0 auto;
				}
				svg {
					path {
						fill: #fafafa;
					}
				}
				.title {
					margin: 20px 0 12px 0;
				}
				.description {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	.grow {
		padding: 120px 0;
		.left {
			button {
				margin-top: 32px;
			}
		}
		.right {
			padding-left: 40px;
		}
		.all {
			.one {
				gap: 24px;
				margin-bottom: 32px;
				padding-bottom: 32px;
				border-bottom: solid 1px $fadedBackgroundColor;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
				.icon {
					height: 68px;
					width: 68px;
					svg {
						height: 24px;
						width: auto;
						display: block;
						path {
							fill: $primaryColor;
						}
					}
				}
			}
		}
	}
	.how-it-works {
		background-color: #f8f8f8;
		padding: 120px 0;
		.top {
			text-align: center;
			margin-bottom: 80px;
		}
		.all {
			gap: 80px;
			.one {
				img {
					height: 168px;
				}
				.title {
					margin: 32px 0 12px 0;
				}
				.description {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	.testimonials {
		padding: 120px 0;
		.left {
			button {
				margin-top: 32px;
			}
		}
		.right {
			padding-left: 80px;
			.reviews {
				.one {
					background-color: #fdfdfd;
					border: solid 1px $fadedBackgroundColor;
					padding: 32px;
					@include vendorPrefix("border-radius", "8px");
					.quote {
						margin: 12px 0 24px 0;
					}
					.i {
						height: 40px;
						width: 40px;
						svg {
							height: 16px;
							path {
								fill: $primaryColor;
							}
						}
					}
					._t {
						font-size: 12px;
						color: #8f8f8f;
					}
				}
			}
		}
	}
	.cta {
		padding: 120px 0 148px 0;
		.row {
			gap: 120px;
			.title {
				font-size: 48px;
			}
		}
	}
}

/* =================================
	Services Page
================================= */

#services-page {
	.services {
		padding: 120px 0;
		.all {
			.single {
				overflow: hidden;
				padding-bottom: 48px;
				margin-bottom: 48px;
				border-bottom: solid 1px $fadedBackgroundColor;
				&:last-child {
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
				}
				a {
					display: block;
				}
				.row {
					gap: 80px;
				}
				.img {
					width: 380px;
					@include vendorPrefix("border-radius", "8px");
					img,
					svg {
						width: 100%;
						height: auto;
					}
					svg {
						display: block;
						path {
							fill: white;
						}
					}
					img {
						display: none;
					}
				}
				.desc {
					flex: 1;
					.title {
						border-left: solid 4px $primaryColor;
						padding-left: 12px;
					}
					.description {
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
						margin-top: 16px;
						margin-bottom: 24px;
					}
				}
				&:nth-child(2n) {
					.row {
						flex-direction: row-reverse;
					}
				}
			}
		}
	}
}

/* =================================
	Services Single Page
================================= */

#services-single-page {
	.content {
		padding: 80px 0;
		.row {
			flex-direction: row-reverse;
		}
		.left {
			flex: 1;
			padding-right: 80px;
			.main-title {
				border-left: solid 6px $primaryColor;
				padding-left: 16px;
			}
			hr.sep {
				background-color: $fadedBackgroundColor;
				margin: 32px 0;
			}
		}
		.right {
			width: 420px;
			.main-image {
				img,
				svg {
					width: 100%;
					height: auto;
				}
				img {
					display: none;
				}
				svg {
					display: block;
					path {
						fill: white;
					}
				}
			}
		}
		.other-services {
			margin-top: 32px;
			.one {
				border-bottom: solid 1px $fadedBackgroundColor;
				padding-bottom: 24px;
				margin-bottom: 24px;
				&:last-child {
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
				}
				._row {
					gap: 32px;
					._i {
						width: 132px;
						img,
						svg {
							width: 100%;
							height: auto;
						}
						img {
							display: none;
						}
						svg {
							display: block;
							path {
								fill: white;
							}
						}
					}
					._d {
						flex: 1;
						._title {
							border-left: solid 4px $primaryColor;
							padding-left: 8px;
						}
						._description {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							margin-top: 12px;
							margin-bottom: 16px;
						}
					}
				}
			}
		}
	}
}

//
//
//
//
//
//
//
//
//
//
//

/* =================================
	Contact Page
================================= */

#contact {
	padding: 80px 0;
	hr {
		outline: none;
		border: none;
		height: 4px;
		width: 22px;
		margin: 16px 0;
	}
	.row {
		.left {
			input,
			textarea {
				width: 100%;
				margin-bottom: 6px;
			}
		}
		.right {
			padding-left: 120px;
			ul.info {
				li {
					gap: 12px;
					border-bottom: solid 1px $fadedBackgroundColor;
					margin-bottom: 16px;
					padding-bottom: 16px;
					svg {
						height: 20px;
						width: auto;
						display: block;
						path {
							fill: $primaryColor;
						}
					}
					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}
				}
			}
			iframe {
				height: 232px;
			}
		}
	}
}

/* =================================
	Common Page
================================= */

#common-page {
	.landing {
		padding: 120px 0;
		.txt {
			position: relative;
			z-index: 2;
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
			hr {
				outline: none;
				border: none;
				height: 4px;
				width: 22px;
				margin: 16px auto;
			}
		}
	}
}

#common-content {
	.inner {
		padding: 80px 0;
		max-width: 860px;
		margin: 0 auto;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: $secondaryColor;
		margin: 20px 0;
	}
	a {
		color: $primaryColor;
		&:hover {
			text-decoration: underline;
		}
	}
}

/* =================================
	Page Not Found
================================= */

#not-found {
	.not-found {
		background-color: #f8f8f8;
		padding: 320px 0;
		.txt {
			max-width: 560px;
		}
	}
}
