@import "./v";

.padding-top {
	padding-top: 112px;
}

#home-page .landing:after,
#common-page .landing:after {
	position: absolute;
	inset: 0;
	content: "";
	@include vendorPrefix(
		"background-image",
		"linear-gradient(to bottom, rgba(0, 0, 0, 0.68), rgba(12, 43, 71, 0.9))"
	);
}

/* =================================
	Home Page
================================= */

#home-page {
	.landing {
		position: relative;
		.col {
			padding: 280px 0 160px 0;
			position: relative;
			z-index: 3;
			.txt {
				max-width: 680px;
				.title {
					font-size: 60px;
				}
				.subtitle {
					font-size: 22px;
					margin: 24px 0 32px 0;
				}
			}
		}
	}
	.info {
		background-color: #1f4075;
		padding: 80px 0;
		.all {
			max-width: 860px;
			.one {
				svg {
					height: 60px;
					margin-bottom: 20px;
					path {
						fill: #3966ac;
					}
				}
			}
		}
	}
	.trust {
		padding: 60px 0;
		.right {
			gap: 48px;
			img {
				height: 40px;
				width: auto;
				display: block;
				@include opacity(0.6, 60);
			}
		}
	}
	.help {
		padding: 120px 0;
		background-color: #f8f8f8;
		.top {
			margin-bottom: 80px;
			.right {
				gap: 16px;
			}
		}
		.all {
			gap: 80px;
			.one {
				.img {
					height: 258px;
					margin: 0 auto;
					img {
						display: none;
					}
				}
				.title {
					margin: 20px 0 12px 0;
				}
				.description {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	.grow {
		padding: 120px 0;
		.left {
			.btn {
				margin-top: 32px;
			}
		}
		.right {
			padding-left: 40px;
		}
		.all {
			.one {
				gap: 24px;
				margin-bottom: 32px;
				padding-bottom: 32px;
				border-bottom: solid 1px $fadedBackgroundColor;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
				.icon {
					height: 68px;
					width: 68px;
					svg {
						height: 24px;
						width: auto;
						display: block;
						path {
							fill: $primaryColor;
						}
					}
				}
			}
		}
	}
	.how-it-works {
		background-color: #f8f8f8;
		padding: 120px 0;
		.top {
			text-align: center;
			margin-bottom: 80px;
		}
		.all {
			gap: 80px;
			.one {
				img {
					height: 168px;
				}
				.desc {
					text-align: center;
				}
				.title {
					margin: 32px 0 12px 0;
				}
				.description {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	.testimonials {
		padding: 120px 0;
		.left {
			.btn {
				margin-top: 32px;
			}
		}
		.right {
			padding-left: 80px;
			.reviews {
				.one {
					background-color: #fdfdfd;
					border: solid 1px $fadedBackgroundColor;
					padding: 32px;
					@include vendorPrefix("border-radius", "8px");
					.quote {
						margin: 12px 0 24px 0;
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.i {
						height: 40px;
						width: 40px;
						svg {
							height: 16px;
							path {
								fill: $primaryColor;
							}
						}
					}
					._t {
						font-size: 12px;
						color: #8f8f8f;
					}
				}
			}
		}
	}
	.cta {
		padding: 120px 0 148px 0;
		.row {
			gap: 120px;
			.title {
				font-size: 48px;
			}
		}
	}
}

/* =================================
	Services Page
================================= */

#services-page {
	.all-services {
		padding: 120px 0;
		background-color: #fafafa;
		.row {
			gap: 80px;
			.left {
				width: 360px;
			}
		}
		.all {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(auto-fill, auto);
			grid-row-gap: 32px;
			grid-column-gap: 32px;
			.single {
				border: solid 1px $fadedBackgroundColor;
				padding: 32px;
				@include vendorPrefix("border-radius", "8px");
				background-color: white;
				img {
					height: 40px;
					width: auto;
					display: block;
				}
				.title {
					margin: 16px 0 12px 0;
				}
				.description {
					display: -webkit-box;
					-webkit-line-clamp: 7;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 24px;
				}
			}
		}
	}
}

/* =================================
	Services Single Page
================================= */

#services-single-page {
	.content {
		padding: 80px 0;
		.row {
			flex-direction: row-reverse;
		}
		.left {
			flex: 1;
			padding-right: 80px;
			.main-title {
				border-left: solid 6px $primaryColor;
				padding-left: 16px;
			}
			hr.sep {
				background-color: $fadedBackgroundColor;
				margin: 32px 0;
			}
			.text-editor-content {
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					font-family: "Bold";
					color: $secondaryColor;
					line-height: 1.2;
					margin-bottom: 12px;
				}
			}
		}
		.right {
			width: 120px;
			.main-image {
				border: solid 1px $fadedBackgroundColor;
				padding: 32px;
				@include vendorPrefix("border-radius", "8px");
				background-color: #f0f0f0;
				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
		.other-services {
			margin-top: 32px;
			.one {
				border-bottom: solid 1px $fadedBackgroundColor;
				padding-bottom: 32px;
				margin-bottom: 32px;
				&:last-child {
					padding-bottom: 0;
					margin-bottom: 0;
					border-bottom: none;
				}
				._row {
					gap: 32px;
					._i {
						width: 120px;
						height: 120px;
						background-color: #f0f0f0;
						padding: 32px;
						@include vendorPrefix("border-radius", "6px");
						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}
					._d {
						flex: 1;
						._title {
							border-left: solid 4px $primaryColor;
							padding-left: 8px;
						}
						._description {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							margin-top: 12px;
							margin-bottom: 16px;
						}
					}
				}
			}
		}
	}
}

/* =================================
	Text Editor Content
================================= */

.text-editor-content {
	hr {
		outline: none;
		border: none;
		margin-top: 40px;
		margin-bottom: 40px;
		height: 1px;
		background-color: var(--services-faded-color);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 20px;
	}
	p {
		code {
			font-size: 0.875em;
			background-color: var(--code-text-background);
			padding: 0.15rem 0.3rem;
			@include vendorPrefix("border-radius", "4px");
		}
		strong {
			font-family: "Medium";
		}
	}
	p:empty {
		height: 20px;
	}
	a {
		color: $primaryColor;
		border-bottom: dashed 1px var(--color-text-primary);
		&:hover {
			text-decoration: underline;
		}
	}
	ul,
	ol {
		margin: 20px 0;
	}
	ul li,
	ol li {
		margin: 8px 0;
		padding-left: 16px;
		position: relative;
		font-family: "Regular", sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		list-style: none;
		&:after {
			position: absolute;
			content: "";
			height: 6px;
			width: 6px;
			background-color: #707070;
			@include vendorPrefix("border-radius", "100%");
			top: 8px;
			left: 0;
		}
		code {
			font-size: 0.875em;
			background-color: var(--code-text-background);
			padding: 0.15rem 0.3rem;
			@include vendorPrefix("border-radius", "4px");
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		thead {
			border-bottom: solid 2px var(--services-faded-color);
			th {
				padding: 0.875rem 0;
				text-align: left;
			}
		}
		tr {
			border-bottom: solid 1px var(--services-faded-color);
			td {
				padding: 0.875rem 0;
				code {
					background-color: var(--code-text-background);
					padding: 0.15rem 0.3rem;
					@include vendorPrefix("border-radius", "4px");
				}
				a {
					border-bottom: none;
				}
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		margin: 40px 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		color: $secondaryColor;
	}
	h1,
	h2,
	h3,
	h4 {
		font-family: "Bold";
	}
}

/* =================================
	Results Page
================================= */

#results-page {
	.results {
		padding: 120px 0;
		.all {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(auto-fill, auto);
			grid-row-gap: 60px;
			grid-column-gap: 60px;
			.single {
				@include vendorPrefix("border-radius", "8px");
				overflow: hidden;
				a {
					display: block;
				}
				.row {
					gap: 80px;
				}
				.img {
					height: 300px;
					img {
						width: 100%;
						height: auto;
						display: none;
					}
				}
				.desc {
					background-color: #f8f8f8;
					padding: 16px 20px 16px 20px;
					.title {
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&:hover {
					.desc {
						background-color: $fadedBackgroundColor;
					}
				}
			}
		}
	}
}

/* =================================
	Results Single Page
================================= */

#results-single-page {
	.content {
		padding: 80px 0;
		.row {
			flex-direction: row-reverse;
		}
		.left {
			flex: 1;
			padding-right: 80px;
			hr.line {
				outline: none;
				border: none;
				height: 4px;
				width: 22px;
				margin: 24px 0;
				background-color: $primaryColor;
			}
			hr.sep {
				background-color: $fadedBackgroundColor;
				margin: 32px 0;
			}
		}
		.right {
			width: 420px;
			.main-image {
				@include vendorPrefix("border-radius", "6px");
			}
		}
		.other-results {
			margin-top: 32px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(auto-fill, auto);
			grid-row-gap: 30px;
			grid-column-gap: 30px;
			.one {
				@include vendorPrefix("border-radius", "8px");
				overflow: hidden;
				.img {
					height: 248px;
					img {
						width: 100%;
						height: auto;
						display: none;
					}
				}
				.desc {
					background-color: #f8f8f8;
					padding: 16px;
					.title {
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				&:hover {
					.desc {
						background-color: $fadedBackgroundColor;
					}
				}
			}
		}
	}
}

/* =================================
	Contact Page
================================= */

#contact-page {
	padding: 80px 0;
	hr {
		outline: none;
		border: none;
		height: 4px;
		width: 22px;
		margin: 16px 0;
	}
	.row {
		.left {
			input,
			textarea {
				width: 100%;
				margin-bottom: 6px;
			}
		}
		.right {
			padding-left: 120px;
			ul.info {
				li {
					gap: 12px;
					border-bottom: solid 1px $fadedBackgroundColor;
					margin-bottom: 16px;
					padding-bottom: 16px;
					svg {
						height: 20px;
						width: auto;
						display: block;
						path {
							fill: $primaryColor;
						}
					}
					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;
						border-bottom: none;
					}
				}
			}
			iframe {
				height: 268px;
			}
		}
	}
}

/* =================================
	Common Page
================================= */

#common-page {
	.landing {
		padding: 232px 0 120px 0;
		position: relative;
		.txt {
			position: relative;
			z-index: 2;
			max-width: 680px;
			margin: 0 auto;
			text-align: center;
			hr {
				outline: none;
				border: none;
				height: 4px;
				width: 22px;
				margin: 16px auto;
			}
		}
	}
	.landing-with-image {
		&::after {
			position: absolute;
			content: "";
			inset: 0;
			@include opacity(0.92, 92);
			background: $fadedBackgroundColor;
		}
	}
}

#common-content {
	.inner {
		padding: 80px 0;
	}
	a {
		color: $primaryColor;
		&:hover {
			text-decoration: underline;
		}
	}
}

/* =================================
	Page Not Found
================================= */

#not-found {
	.not-found {
		background-color: #f8f8f8;
		padding: 320px 0;
		.txt {
			max-width: 560px;
		}
	}
}
