/* =================================
	Home Page
================================= */
#home-page .hero .col {
  height: 840px;
}
#home-page .hero .col .row {
  flex-direction: row-reverse;
}
#home-page .hero .title {
  font-size: 60px;
}
#home-page .hero .subtitle {
  font-size: 22px;
  margin: 24px 0 32px 0;
}
#home-page .hero .right {
  padding-left: 60px;
}
#home-page .hero .right svg.enclose path {
  fill: #eaf3ff;
}
#home-page .hero .right video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  vertical-align: middle;
}
#home-page .hero .right .play {
  height: 80px;
  width: 80px;
  z-index: 5;
  top: 50%;
  left: 50%;
  border: dashed 2px white;
  margin-top: -40px;
  margin-left: -40px;
}
#home-page .trust {
  padding: 60px 0;
}
#home-page .trust .right {
  gap: 48px;
}
#home-page .trust .right img {
  height: 40px;
  width: auto;
  display: block;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: 0.6;
}
#home-page .help {
  padding: 120px 0;
  background-color: #f8f8f8;
}
#home-page .help .top {
  margin-bottom: 80px;
}
#home-page .help .top .right {
  gap: 16px;
}
#home-page .help .all {
  gap: 80px;
}
#home-page .help .all .one .img {
  max-width: 340px;
  margin: 0 auto;
}
#home-page .help .all .one svg path {
  fill: #fafafa;
}
#home-page .help .all .one .title {
  margin: 20px 0 12px 0;
}
#home-page .help .all .one .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-page .grow {
  padding: 120px 0;
}
#home-page .grow .left .btn {
  margin-top: 32px;
}
#home-page .grow .right {
  padding-left: 40px;
}
#home-page .grow .all .one {
  gap: 24px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: solid 1px #eaf3ff;
}
#home-page .grow .all .one:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#home-page .grow .all .one .icon {
  height: 68px;
  width: 68px;
}
#home-page .grow .all .one .icon svg {
  height: 24px;
  width: auto;
  display: block;
}
#home-page .grow .all .one .icon svg path {
  fill: #2f80ed;
}
#home-page .how-it-works {
  background-color: #f8f8f8;
  padding: 120px 0;
}
#home-page .how-it-works .top {
  text-align: center;
  margin-bottom: 80px;
}
#home-page .how-it-works .all {
  gap: 80px;
}
#home-page .how-it-works .all .one img {
  height: 168px;
}
#home-page .how-it-works .all .one .desc {
  text-align: center;
}
#home-page .how-it-works .all .one .title {
  margin: 32px 0 12px 0;
}
#home-page .how-it-works .all .one .description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home-page .testimonials {
  padding: 120px 0;
}
#home-page .testimonials .left .btn {
  margin-top: 32px;
}
#home-page .testimonials .right {
  padding-left: 80px;
}
#home-page .testimonials .right .reviews .one {
  background-color: #fdfdfd;
  border: solid 1px #eaf3ff;
  padding: 32px;
  border-radius: 8px;
}
#home-page .testimonials .right .reviews .one .quote {
  margin: 12px 0 24px 0;
}
#home-page .testimonials .right .reviews .one .i {
  height: 40px;
  width: 40px;
}
#home-page .testimonials .right .reviews .one .i svg {
  height: 16px;
}
#home-page .testimonials .right .reviews .one .i svg path {
  fill: #2f80ed;
}
#home-page .testimonials .right .reviews .one ._t {
  font-size: 12px;
  color: #8f8f8f;
}
#home-page .cta {
  padding: 120px 0 148px 0;
}
#home-page .cta .row {
  gap: 120px;
}
#home-page .cta .row .title {
  font-size: 48px;
}

/* =================================
	Services Page
================================= */
#services-page .services {
  padding: 120px 0;
}
#services-page .services .all .single {
  overflow: hidden;
  padding-bottom: 48px;
  margin-bottom: 48px;
  border-bottom: solid 1px #eaf3ff;
}
#services-page .services .all .single:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
#services-page .services .all .single a {
  display: block;
}
#services-page .services .all .single .row {
  gap: 80px;
}
#services-page .services .all .single .img {
  width: 380px;
  border-radius: 8px;
}
#services-page .services .all .single .img img,
#services-page .services .all .single .img svg {
  width: 100%;
  height: auto;
}
#services-page .services .all .single .img svg {
  display: block;
}
#services-page .services .all .single .img svg path {
  fill: white;
}
#services-page .services .all .single .img img {
  display: none;
}
#services-page .services .all .single .desc {
  flex: 1;
}
#services-page .services .all .single .desc .title {
  border-left: solid 4px #2f80ed;
  padding-left: 12px;
}
#services-page .services .all .single .desc .description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 16px;
  margin-bottom: 24px;
}
#services-page .services .all .single:nth-child(2n) .row {
  flex-direction: row-reverse;
}

/* =================================
	Services Single Page
================================= */
#services-single-page .content {
  padding: 80px 0;
}
#services-single-page .content .row {
  flex-direction: row-reverse;
}
#services-single-page .content .left {
  flex: 1;
  padding-right: 80px;
}
#services-single-page .content .left .main-title {
  border-left: solid 6px #2f80ed;
  padding-left: 16px;
}
#services-single-page .content .left hr.sep {
  background-color: #eaf3ff;
  margin: 32px 0;
}
#services-single-page .content .right {
  width: 420px;
}
#services-single-page .content .right .main-image img,
#services-single-page .content .right .main-image svg {
  width: 100%;
  height: auto;
}
#services-single-page .content .right .main-image img {
  display: none;
}
#services-single-page .content .right .main-image svg {
  display: block;
}
#services-single-page .content .right .main-image svg path {
  fill: white;
}
#services-single-page .content .other-services {
  margin-top: 32px;
}
#services-single-page .content .other-services .one {
  border-bottom: solid 1px #eaf3ff;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
#services-single-page .content .other-services .one:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
#services-single-page .content .other-services .one ._row {
  gap: 32px;
}
#services-single-page .content .other-services .one ._row ._i {
  width: 132px;
}
#services-single-page .content .other-services .one ._row ._i img,
#services-single-page .content .other-services .one ._row ._i svg {
  width: 100%;
  height: auto;
}
#services-single-page .content .other-services .one ._row ._i img {
  display: none;
}
#services-single-page .content .other-services .one ._row ._i svg {
  display: block;
}
#services-single-page .content .other-services .one ._row ._i svg path {
  fill: white;
}
#services-single-page .content .other-services .one ._row ._d {
  flex: 1;
}
#services-single-page .content .other-services .one ._row ._d ._title {
  border-left: solid 4px #2f80ed;
  padding-left: 8px;
}
#services-single-page .content .other-services .one ._row ._d ._description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  margin-bottom: 16px;
}

/* =================================
	Results Page
================================= */
#results-page .results {
  padding: 120px 0;
}
#results-page .results .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 60px;
  grid-column-gap: 60px;
}
#results-page .results .all .single {
  border-radius: 8px;
  overflow: hidden;
}
#results-page .results .all .single a {
  display: block;
}
#results-page .results .all .single .row {
  gap: 80px;
}
#results-page .results .all .single .img {
  height: 300px;
}
#results-page .results .all .single .img img {
  width: 100%;
  height: auto;
  display: none;
}
#results-page .results .all .single .desc {
  background-color: #f8f8f8;
  padding: 16px 20px 16px 20px;
}
#results-page .results .all .single .desc .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results-page .results .all .single:hover .desc {
  background-color: #eaf3ff;
}

/* =================================
	Results Single Page
================================= */
#results-single-page .content {
  padding: 80px 0;
}
#results-single-page .content .row {
  flex-direction: row-reverse;
}
#results-single-page .content .left {
  flex: 1;
  padding-right: 80px;
}
#results-single-page .content .left hr.line {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 24px 0;
  background-color: #2f80ed;
}
#results-single-page .content .left hr.sep {
  background-color: #eaf3ff;
  margin: 32px 0;
}
#results-single-page .content .right {
  width: 420px;
}
#results-single-page .content .right .main-image {
  border-radius: 6px;
}
#results-single-page .content .other-results {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
#results-single-page .content .other-results .one {
  border-radius: 8px;
  overflow: hidden;
}
#results-single-page .content .other-results .one .img {
  height: 248px;
}
#results-single-page .content .other-results .one .img img {
  width: 100%;
  height: auto;
  display: none;
}
#results-single-page .content .other-results .one .desc {
  background-color: #f8f8f8;
  padding: 16px;
}
#results-single-page .content .other-results .one .desc .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results-single-page .content .other-results .one:hover .desc {
  background-color: #eaf3ff;
}

/* =================================
	Contact Page
================================= */
#contact-page {
  padding: 80px 0;
}
#contact-page hr {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 16px 0;
}
#contact-page .row .left input,
#contact-page .row .left textarea {
  width: 100%;
  margin-bottom: 6px;
}
#contact-page .row .right {
  padding-left: 120px;
}
#contact-page .row .right ul.info li {
  gap: 12px;
  border-bottom: solid 1px #eaf3ff;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
#contact-page .row .right ul.info li svg {
  height: 20px;
  width: auto;
  display: block;
}
#contact-page .row .right ul.info li svg path {
  fill: #2f80ed;
}
#contact-page .row .right ul.info li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#contact-page .row .right iframe {
  height: 232px;
}

/* =================================
	Common Page
================================= */
#common-page .landing {
  padding: 120px 0;
}
#common-page .landing .txt {
  position: relative;
  z-index: 2;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}
#common-page .landing .txt hr {
  outline: none;
  border: none;
  height: 4px;
  width: 22px;
  margin: 16px auto;
}
#common-page .landing-with-image::after {
  position: absolute;
  content: "";
  inset: 0;
  -webkit-opacity: 0.92;
  -moz-opacity: 0.92;
  filter: alpha(opacity=92);
  -khtml-opacity: 0.92;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
  opacity: 0.92;
  background: #eaf3ff;
}

#common-content .inner {
  padding: 80px 0;
  max-width: 860px;
  margin: 0 auto;
}
#common-content h1,
#common-content h2,
#common-content h3,
#common-content h4,
#common-content h5,
#common-content h6,
#common-content p {
  color: #1a1a1a;
  margin: 20px 0;
}
#common-content a {
  color: #2f80ed;
}
#common-content a:hover {
  text-decoration: underline;
}

/* =================================
	Page Not Found
================================= */
#not-found .not-found {
  background-color: #f8f8f8;
  padding: 320px 0;
}
#not-found .not-found .txt {
  max-width: 560px;
}/*# sourceMappingURL=pages.css.map */