/* =================================
	Media Queries
================================= */
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1080px;
  }
  header nav {
    padding-left: 36px;
  }
  header nav ul {
    gap: 52px;
  }
  header .reservations {
    padding: 0 24px;
  }
  footer {
    padding: 80px 0 0 0;
  }
  footer .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  #home .hero {
    padding: 240px 0 80px 0;
  }
  #home .introduction {
    padding: 80px 0;
  }
  #home .instagram .top {
    margin-bottom: 40px;
  }
  .experience {
    padding: 80px 0;
  }
  .experience .top {
    margin-bottom: 60px;
  }
  .menus .all {
    grid-column-gap: 80px;
  }
  .menus .all .one .img {
    height: 368px;
  }
  .menus .all .one .desc {
    gap: 10px;
    padding: 40px 0 10px 16px;
  }
  .menus .all .one .desc .i {
    height: 40px;
    width: 40px;
    padding: 0 10px;
  }
  .menus .all .one .desc .t {
    flex: 1;
  }
  .menus .all .one .desc .t ._t {
    margin-bottom: 0;
  }
  .gallery .all .one .img .cover {
    height: 234px;
  }
  .gallery-single .row .one {
    height: 268px;
  }
  .articles .top {
    margin-bottom: 40px;
  }
  .articles .all .one .img {
    height: 240px;
  }
  .testimonials {
    padding: 80px 0;
  }
  #common-page .landing {
    padding: 220px 0 80px 0;
  }
  #common-content .inner {
    padding: 40px 0;
  }
  .booking .contents {
    gap: 60px;
  }
  .booking .contents .btn .btns {
    gap: 8px;
  }
  .booking .contents .btn .btns button {
    padding: 0 12px 0 16px;
  }
}
@media only screen and (max-width: 1360px) {
  header nav ul li a svg {
    display: none;
  }
}
@media only screen and (max-width: 1120px) {
  .container {
    max-width: 780px;
  }
  header .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  header nav {
    padding-left: 28px;
  }
  header nav ul {
    gap: 28px;
  }
  header nav ul li a {
    line-height: 88px;
  }
  header nav ul li a svg {
    display: none;
  }
  header .logo {
    height: 88px;
    width: 60px;
  }
  header .logo svg {
    width: 60px;
    height: auto;
    display: block;
  }
  header .reservations {
    height: 88px;
  }
  footer .container {
    max-width: 780px;
  }
  footer .row {
    display: grid;
    gap: 0;
  }
  footer .row .col {
    margin-bottom: 40px;
  }
  footer .row .col:last-child {
    margin-bottom: 0;
  }
  footer .row .col:nth-child(1), footer .row .col:nth-child(4) {
    grid-column: span 2;
  }
  footer .row .col:nth-child(2), footer .row .col:nth-child(3) {
    grid-column: span 1;
  }
  #home .hero {
    padding: 200px 0 80px 0;
  }
  #home .introduction .row {
    gap: 60px;
  }
  .experience .row {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
  .menus .all {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .menus .all .one .img {
    height: 280px;
  }
  .menus .all .one .btn button {
    padding: 0;
  }
  .gallery .all {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .gallery .all .one .img .cover {
    height: 180px;
  }
  .gallery .all .one .btn {
    justify-content: flex-start;
  }
  .articles .all {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .articles .all .one .img {
    height: 186px;
  }
  .articles .all .one .desc ul {
    padding: 15px 0 10px 0;
  }
  .articles .all .one .desc .con {
    margin: 10px 0 0 0;
  }
  .article-filters ul {
    gap: 30px;
  }
  .article-single .content {
    padding: 60px 0;
  }
  .article-single .content .inner .row .right {
    padding-left: 48px;
  }
  .testimonials .all .one .img {
    height: 60px;
    width: 60px;
  }
  .testimonials .all .one .d {
    width: -o-calc(100% - 60px);
    width: -ms-calc(100% - 60px);
    width: calc(100% - 60px);
    padding-left: 12px;
  }
  #contact .inner .row .right {
    padding-left: 60px;
  }
  .gallery-single .row .one {
    height: 192px;
  }
  .menus-single .content .row {
    gap: 40px;
  }
  .menus-single .content .row .left {
    width: -o-calc(100% - 320px);
    width: -ms-calc(100% - 320px);
    width: calc(100% - 320px);
  }
  .menus-single .content .row .right {
    width: 320px;
  }
  .booking {
    padding: 60px 0;
  }
  .booking .contents {
    display: block;
  }
  .booking .contents .left,
  .booking .contents .right {
    width: 100%;
  }
  .booking .contents .gap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;
  }
  .booking .contents .gap hr.line {
    flex: 1;
    height: 1px;
  }
}
@media only screen and (max-width: 1080px) {
  header .logo {
    margin: 0 auto;
  }
  header nav {
    display: none;
  }
  header nav.open {
    display: block;
    position: absolute;
    background-color: #0d0e12;
    width: 268px;
    left: 0;
    top: 88px;
    height: 100vh;
    overflow-y: scroll;
    padding: 12px 0 280px 0;
    -ms-box-shadow: 0px 6px 20px rgba(0,0,0,.16);
    -o-box-shadow: 0px 6px 20px rgba(0,0,0,.16);
    box-shadow: 0px 6px 20px rgba(0,0,0,.16);
    transition-timing-function: ease-in;
    animation: slide-from-left 0.4s;
    animation-fill-mode: both;
  }
  header nav.open ul {
    display: block;
    padding: 0;
  }
  header nav.open ul li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.04);
    margin: 0;
  }
  header nav.open ul li a {
    padding: 0 20px;
    line-height: 48px;
    height: 48px;
    display: block;
  }
  header nav.open ul li ul {
    position: relative;
    animation: none;
    top: 0;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: none;
    padding: 0;
    width: 100%;
  }
  header nav.open ul li ul li:last-child {
    border-bottom: none;
  }
  header nav.open ul li ul li a {
    padding: 0 0 0 40px;
  }
  header nav.open ul li ul li a:hover {
    color: white;
  }
  header nav.open ul li.lang {
    padding-left: 0px;
    display: block;
    border-bottom: none;
  }
  header nav.open ul li.lang svg {
    display: block;
    margin: 12px 0 6px 20px;
  }
  header nav.open ul li.child svg {
    display: none;
  }
  header .menu-btn {
    display: flex;
  }
  header.fixed nav.open ul li a {
    line-height: 48px;
  }
  header.fixed nav.open ul li ul {
    top: 0;
  }
}
@media only screen and (max-width: 860px) {
  .container {
    max-width: 520px;
  }
  header .logo {
    margin: 0 auto;
  }
  header .container {
    position: relative;
  }
  #home .hero {
    padding: 180px 0 60px 0;
  }
  #home .hero .box {
    max-width: 520px;
  }
  #home .hero .box .i {
    display: none;
  }
  #home .hero .box .title {
    font-size: 32px;
  }
  #home .hero .box .line {
    width: 102px;
  }
  #home .hero .box .line:before, #home .hero .box .line:after {
    width: 40px;
  }
  #home .introduction {
    padding: 80px 0 60px 0;
  }
  #home .introduction .row {
    display: block;
  }
  #home .introduction .row .left {
    width: 386px;
    margin: 0 auto;
  }
  #home .introduction .row .right {
    margin-top: 48px;
    width: 100%;
  }
  #home .instagram {
    padding: 60px 0 0 0;
  }
  #home .instagram .all .one .overlay svg.play {
    height: 24px;
    margin-top: -12px;
  }
  #home .instagram .all .one .overlay svg.collage {
    height: 16px;
  }
  .experience {
    padding: 60px 0;
  }
  .experience .row {
    max-width: 386px;
    margin: 0 auto;
    display: block;
  }
  .experience .row .col {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .experience .row .col:last-child {
    margin-bottom: 0;
  }
  .menus {
    padding: 60px 0;
  }
  .menus .top {
    display: block;
    margin-bottom: 30px;
  }
  .menus .all {
    max-width: 386px;
    margin: 0 auto;
    display: block;
  }
  .menus .all .one {
    margin-bottom: 60px;
  }
  .menus .all .one:last-child {
    margin-bottom: 0;
  }
  .menus .all .one .img {
    height: auto;
    padding: 0;
  }
  .menus .all .one .img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .menus .all .one .desc {
    display: block;
    padding: 40px 0 0 0;
  }
  .menus .all .one .desc .i {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    padding: 0 18px;
    margin-bottom: 15px;
  }
  .menus .all .one .desc .t {
    justify-content: center;
  }
  .gallery {
    padding: 60px 0;
  }
  .gallery .top {
    display: block;
    margin-bottom: 30px;
  }
  .gallery .all {
    max-width: 386px;
    display: block;
    margin: 0 auto;
  }
  .gallery .all .one {
    margin-bottom: 48px;
  }
  .gallery .all .one:last-child {
    margin-bottom: 0;
  }
  .gallery .all .one .img .cover {
    height: 386px;
  }
  .articles {
    padding: 60px 0;
  }
  .articles .top {
    display: block;
    margin-bottom: 30px;
  }
  .articles .all {
    max-width: 386px;
    display: block;
    margin: 0 auto;
  }
  .articles .all .one {
    margin-bottom: 40px;
  }
  .articles .all .one:last-child {
    margin-bottom: 0;
  }
  .articles .all .one .img {
    height: auto;
  }
  .articles .all .one .img img {
    display: block;
  }
  .article-single .content .inner .row {
    display: block;
  }
  .article-single .content .inner .row .left,
  .article-single .content .inner .row .right {
    width: 100%;
    padding: 0;
  }
  .article-single .content .inner .row .left {
    padding-bottom: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    margin-bottom: 40px;
  }
  .testimonials {
    padding: 60px 0;
  }
  .testimonials .top {
    display: block;
    margin-bottom: 30px;
  }
  .testimonials .all {
    display: block;
  }
  .testimonials .all .one {
    margin-bottom: 12px;
  }
  .testimonials .all .one:last-child {
    margin-bottom: 0;
  }
  .faqs {
    padding: 60px 0;
  }
  .faqs .top {
    display: block;
    margin-bottom: 30px;
  }
  #common-page .landing {
    padding: 180px 0 60px 0;
  }
  #contact {
    padding: 60px 0;
  }
  #contact .inner .row {
    display: block;
  }
  #contact .inner .row .left,
  #contact .inner .row .right {
    width: 100%;
    padding: 0;
  }
  #contact .inner .row .right {
    margin-top: 60px;
  }
  .gallery-single .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-single .row .one {
    height: 258px;
  }
  .menus-single .content {
    padding: 60px 0;
  }
  .menus-single .content .row {
    display: block;
  }
  .menus-single .content .row .description .menu-grid-view {
    grid-template-columns: repeat(1, 1fr);
  }
  .menus-single .content .row .left,
  .menus-single .content .row .right {
    width: 100%;
  }
  .menus-single .content .row .right {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  header .logo {
    margin-left: 52px;
  }
  header .logo svg {
    width: auto;
    height: 32px;
  }
  footer .row {
    display: block;
  }
  footer .row .col table tbody tr {
    display: block;
  }
  footer .row .col table tbody tr td {
    width: 100%;
    display: block;
    padding: 0;
    padding-bottom: 5px;
  }
  footer .row .col table tbody tr td button {
    margin-top: 10px;
  }
  #home .hero .box {
    padding-left: 16px;
    padding-right: 16px;
  }
  #home .hero .box .title {
    font-size: 30px;
  }
  #home .hero .box .btns {
    gap: 8px;
  }
  #home .hero .box .btns button {
    padding: 0 16px 0 24px;
  }
  #home .introduction .row .left {
    width: 100%;
  }
  #home .instagram .all {
    grid-template-columns: repeat(2, 1fr);
  }
  .experience .row {
    max-width: 100%;
  }
  .menus .all {
    max-width: 100%;
  }
  .gallery .all {
    max-width: 100%;
  }
  .gallery .all .one {
    margin-bottom: 40px;
  }
  .gallery .all .one:last-child {
    margin-bottom: 0;
  }
  .gallery .all .one .img .cover {
    height: auto;
  }
  .gallery .all .one .img .cover img {
    width: 100%;
    height: auto;
    display: block;
  }
  .articles .all {
    max-width: 100%;
  }
  .article-single .content {
    padding: 40px 0;
  }
  .article-single .content .inner .row .left {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .article-single .content .inner .row .left .top .title {
    font-size: 28px;
    line-height: 1.2;
    color: white;
  }
  #common-page .landing {
    padding: 148px 0 60px 0;
  }
  #common-page .landing .title {
    font-size: 30px;
  }
  #contact .inner .row .left table tbody tr td {
    width: 100%;
    display: block;
    padding: 0;
    padding-bottom: 4px;
  }
  .gallery-single .row .one {
    height: auto;
  }
  .gallery-single .row .one img {
    width: 100%;
    height: auto;
    display: block;
  }
  #gallery-slider {
    padding: 10px;
  }
  #gallery-slider .wrap .box .close {
    top: -10px;
    right: -10px;
  }
  .flex-direction-nav .flex-prev,
  .flex-direction-nav .flex-next {
    display: none;
  }
  .booking {
    padding: 40px 0;
  }
  .booking .cir1,
  .booking .cir2,
  .booking .cir3,
  .booking .cir4,
  .booking .cir5,
  .booking .cir6 {
    display: none;
  }
  .booking .contents .btn .btns {
    display: block;
  }
  .booking .contents .btn .btns div:first-child {
    margin-bottom: 16px;
  }
  .booking .contents .btn .btns button {
    width: 100%;
  }
  .booking .contents .right button {
    width: 100%;
  }
}/*# sourceMappingURL=responsive.css.map */