@import "./v";

/* =================================
	Media Queries
================================= */

@media only screen and (max-width: 1440px) {
	.container {
		max-width: 1080px;
	}

	// ====== Header ====== //

	header {
		padding: 28px 0 20px 0;
		.logo,
		.btn-holder {
			width: 300px;
		}
		nav {
			ul {
				gap: 36px;
			}
		}
		.btn-holder {
			gap: 16px;
		}
	}

	// ====== Footer ====== //

	footer {
		.top {
			padding: 102px 0 40px 0;
		}
	}

	// ====== Home Page ====== //

	#home-page {
		.landing {
			.col {
				padding: 240px 0 120px 0;
				.txt {
					.title {
						font-size: 48px;
					}
					.subtitle {
						font-size: 18px;
						line-height: 1.4;
						margin: 16px 0 24px 0;
					}
				}
			}
		}
		.trust {
			.right {
				gap: 28px;
			}
		}
		.help,
		.grow,
		.how-it-works,
		.testimonials {
			padding: 80px 0;
		}
		.help {
			.top {
				margin-bottom: 60px;
			}
			.all {
				gap: 60px;
				.one {
					.img {
						height: 212px;
					}
				}
			}
		}
		.how-it-works {
			.top {
				margin-bottom: 60px;
			}
		}
		.cta {
			padding: 102px 0;
		}
	}

	// ====== Services Page ====== //

	#services-page {
		.all-services {
			padding: 80px 0;
			.row {
				gap: 40px;
			}
			.all {
				grid-row-gap: 12px;
				grid-column-gap: 12px;
			}
		}
	}

	// ====== Services Single Page ====== //

	#services-single-page {
		.content {
			.left {
				padding-right: 40px;
			}
		}
	}

	// ====== Results Page ====== //

	#results-page {
		.results {
			padding: 80px 0;
			.all {
				grid-row-gap: 40px;
				grid-column-gap: 40px;
				.single {
					.img {
						height: 248px;
					}
					.desc {
						padding: 16px 16px 16px 16px;
					}
				}
			}
		}
	}

	// ====== Results Single Page ====== //

	#results-single-page {
		.content {
			.left {
				padding-right: 40px;
			}
			.other-results {
				grid-row-gap: 20px;
				grid-column-gap: 20px;
				.one {
					.img {
						height: 224px;
					}
					.desc {
						padding: 12px 16px 12px 16px;
					}
				}
			}
		}
	}

	// ====== Contact Page ====== //

	#contact-page {
		.row {
			.right {
				padding-left: 80px;
			}
		}
	}

	// ====== Common Page ====== //

	#common-page {
		.landing {
			padding: 160px 0 80px 0;
		}
	}

	#common-content {
		.inner {
			padding: 60px 0;
		}
	}

	#not-found {
		.not-found {
			padding: 180px 0;
		}
	}
}

@media only screen and (max-width: 1120px) {
	.container {
		max-width: 720px;
	}

	// ====== Header ====== //

	header {
		.container {
			max-width: 100%;
			padding-left: 24px;
			padding-right: 24px;
		}
		.logo,
		.btn-holder {
			width: 312px;
			width: auto;
		}
		.btn-holder {
			gap: 16px;
		}
	}

	// ====== Footer ====== //

	footer {
		.top {
			.row {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(auto-fill, auto);
				grid-row-gap: 24px;
				grid-column-gap: 24px;
				.col {
					&:last-child {
						grid-column: span 3;
					}
				}
			}
		}
	}

	// ====== Home Page ====== //

	#home-page {
		.landing {
			.col {
				padding: 210px 0 102px 0;
				.txt {
					.title {
						text-align: center;
						br {
							display: none;
						}
					}
				}
			}
		}
		.trust {
			padding: 48px 0;
			.row {
				display: block;
			}
			.right {
				margin-top: 16px;
				gap: 16px;
				justify-content: space-between;
				img {
					height: 32px;
				}
			}
		}
		.help,
		.grow,
		.how-it-works,
		.testimonials {
			padding: 60px 0;
		}
		.help {
			.top {
				margin-bottom: 40px;
				.left {
					width: 75%;
				}
				.right {
					width: 25%;
				}
			}
			.all {
				gap: 24px;
				.one {
					.img {
						height: 148px;
					}
				}
			}
		}
		.grow {
			.row {
				display: block;
			}
			.left,
			.right {
				width: 100%;
				padding: 0;
			}
			.left {
				.btn {
					margin-top: 16px;
				}
			}
			.right {
				margin-top: 40px;
			}
			.all {
				.one {
					padding-bottom: 24px;
					margin-bottom: 24px;
				}
			}
		}
		.how-it-works {
			.top {
				margin-bottom: 40px;
			}
			.all {
				display: block;
				.one {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 24px;
					padding-bottom: 24px;
					margin-bottom: 24px;
					border-bottom: solid 1px $fadedBackgroundColor;
					&:last-child {
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: none;
					}
					.img {
						width: 224px;
						display: flex;
						align-items: center;
						justify-content: center;
						img {
							width: 100%;
							height: auto;
							display: block;
						}
					}
					.desc {
						flex: 1;
						text-align: left;
					}
					.title {
						margin: 0 0 12px 0;
					}
				}
			}
		}
		.testimonials {
			.row {
				display: block;
			}
			.left,
			.right {
				width: 100%;
				display: block;
				padding: 0;
			}
			.left {
				.btn {
					margin-top: 16px;
				}
			}
			.right {
				margin-top: 40px;
			}
		}
		.cta {
			padding: 80px 0;
			.row {
				display: block;
			}
			.left,
			.right {
				width: 100%;
			}
			.right {
				margin-top: 40px;
				.btn {
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	// ====== Services Page ====== //

	#services-page {
		.all-services {
			padding: 60px 0;
			.row {
				display: block;
				.left {
					width: 100%;
					margin-bottom: 48px;
				}
			}
			.all {
				grid-row-gap: 12px;
				grid-column-gap: 12px;
			}
		}
	}

	// ====== Services Single Page ====== //

	#services-single-page {
		.content {
			padding: 60px 0;
			.other-services {
				.one {
					margin-bottom: 24px;
					padding-bottom: 24px;
					._row {
						gap: 24px;
					}
				}
			}
		}
	}

	// ====== Results Page ====== //

	#results-page {
		.results {
			padding: 60px 0;
			.all {
				display: block;
				.single {
					margin-bottom: 24px;
					.img {
						height: auto;
						img {
							display: block;
						}
					}
					.desc {
						padding: 20px;
					}
				}
			}
		}
	}

	// ====== Results Single Page ====== //

	#results-single-page {
		.content {
			padding: 60px 0;
			.row {
				display: block;
			}
			.left,
			.right {
				width: 100%;
				padding: 0;
				display: block;
			}
			.right {
				margin-bottom: 24px;
			}
			.other-results {
				grid-row-gap: 12px;
				grid-column-gap: 12px;
			}
		}
	}

	// ====== Contact Page ====== //

	#contact-page {
		.row {
			display: block;
			.left,
			.right {
				padding: 0;
				width: 100%;
			}
			.right {
				margin-top: 40px;
			}
		}
	}

	// ====== Common Page ====== //

	#common-page {
		.landing {
			padding: 132px 0 60px 0;
		}
	}

	#common-content {
		.inner {
			padding: 40px 0 60px 0;
		}
	}

	#not-found {
		.not-found {
			padding: 102px 0;
		}
	}
}

@media only screen and (max-width: 980px) {
	// ====== Body ====== //

	body {
		padding-top: 64px;
	}

	// ====== Header ====== //

	header {
		padding: 12px 0;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99;
		width: 100%;
		background-color: $secondaryColor;
		@include vendorPrefix("box-shadow", "0 0 2px rgba(0, 0, 0, 0.12)");
		.container {
			padding-left: 56px;
			padding-right: 12px;
		}
		.logo {
			svg {
				height: 14px;
			}
		}
		.nav-holder,
		.btn-holder {
			width: auto;
		}
		.btn-holder {
			button {
				height: 40px;
				line-height: 40px;
			}
		}
		nav {
			display: none;
		}
		nav.open {
			display: block;
			position: absolute;
			background-color: $secondaryColor;
			width: 272px;
			left: 0;
			top: 64px;
			height: 100vh;
			overflow-y: scroll;
			z-index: 99;
			padding: 80px 0 280px 0;
			@include vendorPrefix("box-shadow", "0px 6px 20px rgba(0,0,0,.48)");
			@include vendorPrefix("transition-timing-function", "ease-in");
			@include vendorPrefix("animation", "slide-from-left 0.4s");
			@include vendorPrefix("animation-fill-mode", "both");
			ul {
				display: block;
				padding: 0;
				li {
					border-bottom: solid 1px rgba(255, 255, 255, 0.04);
					margin: 0;
					a {
						padding: 0 20px;
						line-height: 48px;
						height: 48px;
						display: block;
						color: white;
					}
					ul {
						position: relative;
						@include vendorPrefix(
							"transition-timing-function",
							"none"
						);
						@include vendorPrefix("animation", "none");
						@include vendorPrefix("animation-fill-mode", "none");
						display: block;
						width: 100%;
						border: none;
						background: transparent;
						@include vendorPrefix("border-radius", "0");
						@include vendorPrefix("box-shadow", "none");
						li {
							border-bottom: solid 1px rgba(255, 255, 255, 0.04);
							&:last-child {
								border-bottom: none;
							}
							a {
								padding: 0 12px 0 32px;
								line-height: 44px;
								height: 44px;
								font-size: 14px;
							}
							&:hover {
								background-color: transparent;
								span {
									span {
										color: inherit;
									}
								}
							}
						}
					}
				}
				li.menu-item-has-children {
					&:after {
						top: 22px;
						right: 22px;
					}
				}
			}
		}
		.menu-btn {
			display: flex;
		}
	}

	// ====== Home Page ====== //

	#home-page {
		.landing {
			.col {
				padding: 80px 0;
			}
		}
	}

	// ====== Common Page ====== //

	#common-page {
		.landing {
			padding: 60px 0;
		}
	}
}

@media only screen and (max-width: 760px) {
	.container {
		max-width: 488px;
	}

	// ====== Footer ====== //

	footer {
		.container {
			max-width: 488px;
		}
		.top {
			padding: 60px 0 32px 0;
			.row {
				.col {
					margin-bottom: 32px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				display: block;
			}
		}
		.bottom {
			padding: 32px 0;
			margin-top: 24px;
		}
	}

	// ====== Home Page ====== //

	#home-page {
		.landing {
			.col {
				padding: 80px 0 60px 0;
				.txt {
					.title {
						font-size: 32px;
					}
					.subtitle {
						max-width: 360px;
						margin: 0 auto;
						margin-top: 12px;
						margin-bottom: 20px;
					}
				}
			}
		}
		.trust {
			padding: 48px 0 32px 0;
			.right {
				padding-bottom: 16px;
				overflow-x: scroll;
			}
		}
		.help {
			.top {
				display: block;
				margin-bottom: 28px;
				.left,
				.right {
					width: 100%;
				}
				.right {
					margin-top: 12px;
					justify-content: flex-start;
				}
			}
			.all {
				display: block;
				.one {
					width: 100%;
					padding-bottom: 24px;
					margin-bottom: 24px;
					border-bottom: solid 1px $fadedBackgroundColor;
					&:last-child {
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: none;
					}
					&:last-child {
						margin-bottom: 0;
					}
					.img {
						max-width: 100%;
						height: auto;
						img {
							display: block;
						}
					}
				}
			}
		}
		.grow {
			.all {
				.one {
					gap: 16px;
				}
			}
		}
		.how-it-works {
			.all {
				.one {
					display: block;
					.img {
						margin: 0 auto;
					}
					.desc {
						margin-top: 16px;
						text-align: center;
					}
				}
			}
		}
		.testimonials {
			.right {
				.reviews {
					.one {
						padding: 20px 16px 16px 16px;
						.quote {
							margin: 12px 0;
						}
					}
				}
			}
		}
		.cta {
			padding: 60px 0;
			.row {
				.title {
					font-size: 36px;
				}
			}
			.right {
				margin-top: 24px;
			}
		}
	}

	// ====== Services Page ====== //

	#services-page {
		.all-services {
			padding: 48px 0;
			.row {
				.left {
					margin-bottom: 32px;
				}
			}
			.all {
				display: block;
				.single {
					margin-bottom: 12px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	// ====== Services Single Page ====== //

	#services-single-page {
		.content {
			padding: 48px 0;
			.row {
				display: block;
			}
			.left,
			.right {
				width: 100%;
				padding: 0;
				display: block;
			}
			.left {
				.main-title {
					font-size: 28px;
				}
			}
			.right {
				display: none;
			}
			.other-services {
				.one {
					._row {
						gap: 16px;
						._i {
							width: 120px;
						}
					}
				}
			}
		}
	}

	// ====== Results Single Page ====== //

	#results-single-page {
		.content {
			.left {
				.main-title {
					font-size: 28px;
				}
			}
			.other-results {
				display: block;
				.one {
					margin-bottom: 16px;
					&:last-child {
						margin-bottom: 0;
					}
					.img {
						height: auto;
						img {
							display: block;
						}
					}
				}
			}
		}
	}

	// ====== Common Page ====== //

	#common-page {
		.landing {
			h1 {
				font-size: 32px;
			}
			h2 {
				font-size: 28px;
			}
		}
	}
}

@media only screen and (max-width: 520px) {
	.container {
		max-width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}

	header {
		.btn-holder {
			.phone {
				display: none;
			}
		}
	}

	// ====== Services Page ====== //

	#services-page {
		.all-services {
			.all {
				.single {
					padding: 16px;
				}
			}
		}
	}
}
